body {
  padding-left: 3%; }

.navbar-brand {
  padding-top: 3%;
  padding-left: 2%; }

.forms {
  padding-top: 16%; }

#price:focus, input:focus {
  background-color: #2962ff;
  outline: none; }

*:focus {
  outline: none; }
